@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
    .headline {
        font-size: 2.75rem;
    }

    .title {
        font-size: 2.25rem;
    }

    section.hero .description-group {
        height: 100px;
    }
}

@media (max-width: 991.98px) {
    .headline {
        font-size: 2.5rem;
    }

    .content-gap {
        margin-top: 42px;
    }

    section.hero,
    section.hero .container {
        height: fit-content;
    }

    section.hero .swiperHero {
        margin-top: 42px;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 767.98px) {
    .headline {
        font-size: 2.25rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .content-gap {
        margin-top: 32px;
    }

    section.cta {
        padding: 24px;
    }
}