section.blog .card-blog .blog-image {
    aspect-ratio: 4/2.6;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 100%;
}

section.blog .card-blog h6 {
    font-size: 0.935rem;
    margin-bottom: 4px;
    line-height: 130%;
}

section.blog .card-blog p {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.62);
    margin-bottom: 12px;
}

section.blog .card-blog button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    font-size: 0.875rem;
    color: rgba(var(--primary-color), 1);
    text-wrap: nowrap;
}

section.blog .card-blog button:hover {
    text-decoration: underline;
}